.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-clocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.AppNav {
  min-height: 50px;
  background-color: #9C27B0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AppNav-add {
  width: 30px;
  height: 30px;
  border: 0;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.AppNav-add:hover {
  background: rgba(0,0,0,0.2);
}

.AppNav-title {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  text-align: left;
}
