
.Clock {
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 200px;
  width: 200px;
  padding-top: 40px;
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

.Clock-start {
  border-radius: 128px;
  border: 0px;
  height: 50px;
  width: 50px;
  background-color: rgb(244, 67, 54);
  color: white;
  font-weight: bold;
  font-size: 23px;
  vertical-align: middle;
  text-align: center;
}

.Clock-start:focus {
  outline: 0;
  border: 0;
}

.Clock-start:hover {
  background-color: rgba(244, 67, 54, 0.7);
}

.Clock-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.Clock-delete:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.Clock-edit {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  border: 0;
  background: transparent;
}

.Clock-edit:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.Clock-edit:focus {
  outline: 0;
  border: 0;
}
